@import constan.DateHelper
@(detail : List[DetailsOrder], id:Long, util : DateHelper)

@layout.main("Detail Order", "Detail Order"){

    <div class="box-body data-tables table-responsive table-invest">
        <table id="" class="table table-hover">
            <tr>
                <th>Order Id</th>
                <th>Nama Produk</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Sub Total</th>
            </tr>
            @for(x <- detail) {
                <tr>
                    <td>@x.order.id</td>
                    <td>@x.product.name</td>
                    <td>@util.currencyPrice(x.product.price.toString)</td>
                    <td>@x.quantity</td>
                    <td>@util.currencySubTotal(x.sub_total.toString)</td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-12" style=" margin-bottom: 30px;">
        <a class="btn btn-danger btn-sm pull-right mr-3" href="@controllers.admin.routes.ReportController.documentDetail(id)">
            <i class="fa fa-print"></i> Print PDF
        </a>
    </div>

}